@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}
.button {
  background: #263238;
  width: 150px;
  height: 40px;
  border: 1px solid #37474f;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}
.button:hover {
  cursor: pointer;
}
.button:active {
  transform: scale(.9);
  outline: none;
}
.score {
  font-size: 1rem;
  font-weight: 500;
}
.board {
  width: 602px;
}
.button,
.board {
  border: 1px solid transparent;
}
.button:focus,
.board:focus {
  outline: none;
  border: 1px solid #90a4ae;
}
.space {
  border: 1px solid #272e36;
  float: left;
  width: 20px;
  height: 20px;
}
.active {
  background: #2196f3;
}
.apple,
.boost {
  animation-duration: 350ms;
  animation-name: pulse;
}
.apple {
  background: #4caf50;
}
.boost {
  background: #e64a19;
}
.card {
  align-items: center;
  background: #ff6100;
  display: flex;
  flex-direction: column;
  font-size: 35px;
  justify-content: center;
  width: 120px;
}
